@page "/"
@inject IJSRuntime js

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@* for google, need the plug of windows media player *@
@* <object id="MediaPlayer" classid="clsid:22D6F312-B0F6-11D0-94AB-0080C74C7E95" width="800" height="600" standby="Loading Windows Media Player components…" type="application/x-oleobject" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112">
  <param name="FileName" value="/Videos/video001.avi">
  <param name="AutoStart" value="true">
  <param name="DefaultFrame" value="mainFrame"/>
  <param name="ShowControls" value="true">
  <param name="BufferingTime" value="2">
  <param name="ShowStatusBar" value="true">
  <param name="AutoSize" value="true">
  <param name="InvokeURLs" value="false">
  <param name="AnimationatStart" value="1">
  <param name="TransparentatStart" value="1">
  <param name="Loop" value="1">
  <embed type="application/x-mplayer2" src="/Videos/video001.avi" name="MediaPlayer" autostart="1" showstatusbar="1" showdisplay="1" showcontrols="1" loop="0" videoborder3d="0" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" width="800" height="600" />
</object> *@

@* Call JavaScript functions from .NET methods in ASP.NET Core Blazor. Implement playing video *@
@* <button class="btn" @onclick="playVideoFile"> play </button>

<video id="video">
    <source id="videoSource" src="" />
</video>


@code{
    async Task playVideoFile(){
        await js.InvokeVoidAsync("playVideo","/Videos/test.mp4");
    }
} *@

@* Video.js is a good plug *@
<video width="320" height="240" controls="controls">
  <source src="/Videos/video001.mp4"  />
  @* <source src="movie.ogg" type="video/ogg" />
  <source src="movie.webm" type="video/webm" />
  <object data="movie.mp4" width="320" height="240">
    <embed src="movie.swf" width="320" height="240" />
  </object> *@
</video>

@* Video.js is a good plug *@
<video width="320" height="240" controls="controls">
  <source src="/Videos/tvideo001.mp4"  />
  @* <source src="movie.ogg" type="video/ogg" />
  <source src="movie.webm" type="video/webm" />
  <object data="movie.mp4" width="320" height="240">
    <embed src="movie.swf" width="320" height="240" />
  </object> *@
</video>

@* <embed src="/Videos/video001.mp4" width="320" height="240" /> *@